<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is the contact page for the Simple Application.</p>
    <p>For project demonstration purposes, this is a sample contact page.</p>

    <nav>
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/contact">Contact</a>
    </nav>
  </body>
</html>